.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.input-icon {
  position: absolute;
  color: #aaa;
  cursor: pointer;
  left: 10px;
}

.input-icon:hover {
  color: white;
}

.input-box {
  padding: 10px 40px;
  font-size: 18px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 2px solid #201f1f;
  background-color: #201f1f;
  color: white;
}

.input-box-light {
  background-color: #e2e2e2;
  border: 2px solid gray;
  color: black;
}

.input-box::placeholder {
  text-align: right;
}

.input-icon-english {
  position: absolute;
  color: #aaa;
  cursor: pointer;
  right: 10px;
}

.input-icon-english:hover {
  color: white;
}

.input-box-english {
  padding: 10px 40px;
  font-size: 18px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 30px;
  direction: ltr;
  border: 2px solid #201f1f;
  background-color: #201f1f;
  color: white;
}

.input-box-english-light {
  background-color: #e2e2e2;
  border: 2px solid gray;
  color: black;
}

.input-box-english::placeholder {
  text-align: left;
}

.display-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: right;
  word-wrap: break-word;
  height: 350px;
  overflow-y: auto;
  gap: 30px;
}

.display-text-red {
  border: 5px solid red;
}

.display-text-light {
  background-color: rgb(240, 237, 238);
}

.display-text::-webkit-scrollbar {
  width: 12px;
}

.display-text::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}
