.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.input-icon {
  position: absolute;
  left: -215px;
  margin-top: 9%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}

.input-icon:hover {
  color: white;
}

.input-box {
  padding: 10px 40px 10px 40px;
  font-size: 18px;
  width: 250%;
  height: 55px;
  position: absolute;
  right: -223px;
  box-sizing: border-box;
  border-radius: 30px;
  direction: rtl;
  border: 2px solid #201f1f;
  background-color: #201f1f;
  color: white;
}

.input-box-light {
  background-color: #e2e2e2;
  border: 2px solid gray;
  color: black;
}

.input-box::placeholder {
  text-align: right;
}

.input-icon-english {
  position: absolute;
  right: -210px;
  margin-top: 9%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}

.input-icon-english:hover {
  color: white;
}

.input-box-english {
  padding: 10px 10px 10px 40px;
  padding-right: 40px;
  font-size: 16px;
  width: 250%;
  height: 55px;
  position: absolute;
  right: -223px;
  box-sizing: border-box;
  border-radius: 30px;
  direction: ltr;
  border: 2px solid #201f1f;
  background-color: #201f1f;
  color: white;
}

.input-box-english-light {
  background-color: #e2e2e2;
  border: 2px solid gray;
  color: black;
}

.input-box-english::placeholder {
  text-align: left;
}

.display-text {
  position: fixed;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  width: 750px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: right;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 420px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.display-text-red {
  border: 5px solid red;
}

.display-text-light {
  background-color: rgb(240, 237, 238);
}

.display-text::-webkit-scrollbar {
  width: 12px;
}

.display-text::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}
