:root {
  --text-color-light: #000;
  --modal-bg-color-light: rgba(0, 0, 0, 0.5);
  --modal-content-bg-color-light: gray;
  --button-modal-bg-color-light: #6633cc;
  --button-modal-hover-bg-color-light: #7a3ef3;
}

.Button {
  width: 200px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  background-color: #6633cc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Button:hover {
  background-color: #8054d6;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.modal-content {
  background-color: var(--modal-content-bg-color-light);
  color: var(--text-color-light);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%;
  width: 400px;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal .Button {
  width: 100px;
  margin: 0 10px;
  padding: 10px 0;
  font-size: 14px;
  background-color: var(--button-modal-bg-color-light);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal .Button:hover {
  background-color: var(--button-modal-hover-bg-color-light);
}
