.sidebar {
  width: 15%;
  background-color: #201f1f;
  color: white;
  padding: 15px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.sidebar-light {
  background-color: #e2e2e2;
  color: black;
}

.sidebar-content {
  margin-top: 7rem;
}

.button-column {
  max-height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.button-column::-webkit-scrollbar {
  width: 12px;
}

.button-column::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.new-chat {
  margin-bottom: 10px;
  width: 90%;
  height: 100%;
  font-size: 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.new-chat:hover {
  background-color: rgb(197, 21, 197);
}

.icon-new-chat {
  margin-right: 5px;
  align-items: center;
}
