.image-response {
  width: 150px;
  height: 150px;
  background-color: black;
}
.gif-response {
  width: 120px;
  height: 120px;
}

.gif-loading {
  width: 65px;
  height: 65px;
  background: none;
  border: none;
}
