.new-chat {
  margin-bottom: 10px;
  width: 160px;
  height: 50px;
  font-size: 20px;
  background-color: #6633cc;
  color: white;
  border: none;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.new-chat:hover {
  background-color: #8054d6;
}
.icon-new-chat {
  margin-right: 5px;
  align-items: center;
}
