.App {
  min-height: 100vh;
  background-color: #333;
  color: white;
}

.header-logo {
  text-align: center;
  display: flex;
  align-items: flex-start;
  z-index: 999;
}
.app-body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

.botname {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.chatInput-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.light-mode {
  background-color: rgb(240, 237, 238);
  color: #333;
}

.beta-tag {
  background-color: #c0281c;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(37, 150, 158, 0.3);
  margin-right: -20px;
}

.beta-tag.light {
  background-color: #e2e2ee;
  color: black;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
}

.sidebar-toggle {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  color: gray;
  top: 50%;
}

.sidebar-toggle.open {
  top: 50%;
  margin-right: 200px;
}

.alpha-logo {
  width: 120px;
}

.sidebar-app {
  display: flex;
  position: fixed;
  flex-direction: row;
  right: 0;
}
